62/
smart-school-school-management-system.zip
smart-school-school-management-system
step-2.zip
api3.3.zip
application/config/config.php
application/config/database.php
application/third_party/omnipay/
backend/captcha_images/
.htaccess
.user.ini
.well-known/